<div class="title-box">{{title}}</div>
<div class="border-gray card-box">&nbsp;{{model.cardNumber | cardNumber}}&nbsp;</div>
<keypad input-value="model.cardNumber" max-length="model.cardNumberMaxLength" custom-keys="serviceButtons" disabled="formDisabled"></keypad>
