<div class="title-box">{{title}}</div>
<div class="border-gray pin-box">&nbsp;{{model.pinCode | hidden}}&nbsp;</div>
<keypad input-value="model.pinCode" max-length="model.pinMaxLength" custom-keys="serviceButtons" disabled="formDisabled"></keypad>