<div class="title-box">{{title}}</div>
<p>
  <div class="btn btn-default btn-wide" ng-class="{'disabled': formDisabled}" ng-click="showBalance()">{{buttonTitle.balance}}</div>
</p>
<p>
  <div class="btn btn-default btn-wide" ng-class="{'disabled': formDisabled}" ng-click="showWithdrawal()">{{buttonTitle.withdraw}}</div>
</p>
<p>
  <div class="btn btn-danger btn-wide" ng-class="{'disabled': formDisabled}" ng-click="logOut()">{{buttonTitle.exit}}</div>
</p>
