<div class="title-box">{{title}}</div>
<div class="border-gray amount-box">&nbsp;{{model.amount}}&nbsp;</div>
<keypad input-value="model.amount" max-length="model.amountMaxLength" custom-keys="serviceButtons" disabled="formDisabled"></keypad>